body {
    font-family: Arial, sans-serif;
    background-color: #f5b8c2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin: 0;
}

.container {
    background-color: #e39b9b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    max-height: 800px;
    max-width: 400px;
}

h1 {
    color: #333;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
input[type="text"],
input[type="text"],
input[type="email"],
input[type="radio"],
input[type="password"],
input[type="number"], 
input[type="religion"],
input[type="number"]  
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #a35858;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #b45a5a;
}
